<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top" style="margin-bottom: 0px;">
  <div class="container">
    <div class="navbar-header">
      <a [routerLink]="['/']" class="navbar-brand">Test-app socialh4ck</a>
    </div>
  </div>
</nav>
<div>
    <router-outlet></router-outlet>
</div>