body {
  min-height: 1000px;
  background: #efefef;
}

.exercise {
  background: white;
  min-height: 70px;
  padding-top: 70px;
  padding-bottom: 30px;
}

.wrapper {
  padding-top: 40px; padding-bottom: 50px;
}

.asd {
  animation: bounceIn 1s;
}

.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background: white;
}

.card {
  margin-top: 10px;
  box-sizing: border-box;
  border-radius: 2px;
  background-clip: padding-box;
}
.card span.card-title {
    color: rgb(94, 68, 102);
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
}

.card .card-image {
  position: relative;
  overflow: hidden;
}
.card .card-image img {
  border-radius: 2px 2px 0 0;
  background-clip: padding-box;
  position: relative;
}
.card .card-image span.card-title {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 16px;
}
.card .card-top {
  color: white;
  background: #413c8a;
  padding: 5px;
}
.card .card-content {
  padding: 16px;
  border-radius: 0 0 2px 2px;
  background-clip: padding-box;
  box-sizing: border-box;
}
.card .card-content p {
  margin: 0;
  color: inherit;
}
.card .card-content span.card-title {
  line-height: 48px;
}
.card .card-action {
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 16px;
}
.card .card-action a {
  color: #ffab40;
  margin-right: 16px;
  transition: color 0.3s ease;
  text-transform: uppercase;
}
.card .card-action a:hover {
  color: #ffd8a6;
  text-decoration: none;
}

.file-upload-container {
  width: 100%;
  height: 50px;
  overflow: hidden;
  background: #3F51B5;
  user-select: none;
  transition: all 150ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  text-align: center;
  color: white;
  line-height: 50px;
  font-weight: 300;
  font-size: 20px;
}

.file-upload-container:hover {
  cursor: pointer;
  background: #3949AB;
}