<div class="exercise" *ngIf="exercise">
  <div class="container">
          <div class="card">
            <div class="card-top">
              <span><b>Exercise</b></span>
            </div>
              <div class="card-content">
                  
                      
                <form (ngSubmit)="onSubmit()" >
                    <div class="row">
                    <div class="col-md-3">
                  <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="exercise.name" [(ngModel)] = "exercise.name">
                  </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="typeExercise">Exercise type</label>
                        <input type="text" class="form-control" id="typeExercise" name="typeExercise" [(ngModel)] = "exercise.typeExercise">
                      </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                        <label for="Duration">Duration <small>(minutes)</small></label>
                        <input type="number" class="form-control" id="Duration" name="duration" [(ngModel)] = "exercise.duration">
                      </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="createdBy">Created by</label>
                        <input type="text" class="form-control" id="createdBy" name="createdBy" [(ngModel)] = "exercise.createdBy">
                      </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
              <div class="form-group">
                <label for="name">Level</label>
                <select class="form-control" [(ngModel)]="exercise.levelDifficulty" name="level">
                  <option value="{{ i }}" *ngFor="let i of levels">{{ i }}</option>
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="name">status</label>
                <select class="form-control" [(ngModel)]="exercise.status" name="status">
                  <option value="{{ s }}" *ngFor="let s of status">{{ s }}</option>
                </select>
              </div>
          </div></div>
              <hr>
              <div class="row">
                  <div class="col-md-3">
                      <label for="createdBy">Image</label>
                      <div class="form-group">
                          <label class="btn btn-default">Add image...
                            <input ng2FileSelect [uploader] = 'uploaderi' type="file" style="display: none;" name="banner">
                          </label>
                        </div>
                        <button style="display: inline-block" class="btn btn-link btn-xs" (click) = "uploaderi.queue[uploaderi.queue.length - 1]?.remove()" *ngIf="uploaderi.queue.length" ><b>{{ uploaderi.queue[uploaderi.queue.length - 1].file.name }}</b></button>
                        <div *ngIf="uploaderi.queue.length">
                          <br>
                          <small class="text-danger">click attachment for delete it</small>
                        </div>
                </div>
                  <div class="col-md-3">
                          <label for="createdBy">Music</label>
                          <div class="form-group">
                              <label class="btn btn-default">Add music...
                                <input multiple ng2FileSelect [uploader] = 'uploader' type="file" style="display: none;" name="banner">
                              </label> <kbd>multiselect</kbd>
                            </div>
                            <button style="display: inline-block" *ngFor="let item of uploader.queue" class="btn btn-link btn-xs" (click) = "item.remove()"><b>{{ item.file.name }}</b></button>
                            <div *ngIf="uploader.queue.length">
                              <br>
                              <small class="text-danger">click attachment for delete it</small>
                            </div>
                    </div>
                    <div class="col-md-3">
                        <label for="createdBy">Video</label>
                        <div class="form-group">
                            <label class="btn btn-default">Add video...
                              <input multiple ng2FileSelect [uploader] = 'uploaderv' type="file" style="display: none;" name="banner">
                            </label> <kbd>multiselect</kbd>
                          </div>
                          <button style="display: inline-block" *ngFor="let item of uploaderv.queue" class="btn btn-link btn-xs" (click) = "item.remove()"><b>{{ item.file.name }}</b></button>
                          <div *ngIf="uploaderv.queue.length">
                              <br>
                              <small class="text-danger"  >click attachment for delete it</small>
                            </div>
                      </div>
              </div>
              
              <hr>
              <div class="row">
                <div class="col-md-6">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </div>
                </form>
                
              </div>
            </div>
  </div>
</div>
<div class="wrapper">
  <div class="container">
      <div class="row">
      <!-- Card Projects -->
        <div class="col-md-4" *ngFor="let item of exercises">
          <div class="card">
            <div class="card-image">
              <img class="img-responsive" width="100%" src="{{ item.mainImage }}">
            </div>
            <a routerLink="/exercises/{{item._id}}">
            <div class="card-content">
              <span class="card-title">{{ item.name }}</span>
              <p><b>created by</b> {{ item.createdBy}}</p>
              <span>{{ item.creationDate }}</span>
            </div>
          </a>
            
            <div class="card-action">
              <button class="btn btn-link" (click) = "remove(item._id)">DELETE</button>
            </div>
          </div>
            
        </div>
    </div>
  </div>
      
</div>

